<div class="container">
  <div class="section mb-3 d-flex flex-column justify-content-center align-items-center">
    <div>
      Reunimos aqui as histórias de <strong>Brasileiras(os)</strong> que transformaram suas vidas através da <strong>educação</strong>
      com os projetos impulsionados e/ou criados durante a gestão de
      <strong>Haddad</strong> como <strong>Ministro da Educação</strong>
    </div>
    <div class="mt-3 d-flex flex-row justify-content-around align-items-center w-100 flex-wrap">
      <div class="d-flex mt1 col">
        <a routerLink="/contar" class="btn btn-primary btn-block">Conte-nos sua história</a>
      </div>
      <div *ngIf="hasStory" class="d-flex mt-1 col">
        <a [routerLink]="['/compartilhar']" class="btn btn-secondary btn-block">Compartilhe sua
          história</a>
      </div>
    </div>
  </div>
  <div class="loading text-center my-3" [hidden]="!loading">
    Carregando...
  </div>
  <div [hidden]="loading">
    <div class="title">
      <p>+ de <span class="count">{{countPosts}}</span> pessoas passaram aqui e mostraram como a
        educação mudou suas vidas. Foram pessoas que lutaram pelo seu destino, mas que conseguiram chegar ao topo com
        as
        políticas voltadas para o ensino que Haddad criou ou impulsionou enquanto ministro. A história jamais será
        esquecida!
      </p>
      <p>
        Para preservar as pessoas e as histórias que aqui passaram, o projeto dará uma pausa. Porém ainda é possível
        compartilhar sua história conosco e gerar a sua imagem no link acima.
      </p>
    </div>
  </div>
</div>

<app-fab></app-fab>