<div class="container">
  <div class="section mb-3 d-flex flex-column justify-content-center align-items-center">
    <div>
      Reunimos aqui as histórias de <strong>Brasileiras(os)</strong> que transformaram suas vidas através da <strong>educação</strong>
      com os projetos impulsionados e/ou criados durante a gestão de
      <strong>Haddad</strong> como <strong>Ministro da Educação</strong>
    </div>
    <div class="mt-3 d-flex flex-row justify-content-around align-items-center w-100 flex-wrap">
      <div class="d-flex mt1 col">
        <a routerLink="/contar" class="btn btn-primary btn-block">Conte-nos sua história</a>
      </div>
      <div *ngIf="hasStory" class="d-flex mt-1 col">
        <a [routerLink]="['/compartilhar']" class="btn btn-secondary btn-block">Compartilhe sua
          história</a>
      </div>
    </div>
  </div>
  <div class="loading text-center my-3" [hidden]="!loading">
    Carregando histórias...
  </div>
  <div [hidden]="loading">
    <div class="title">+ de <span class="count">{{countPosts}}</span> histórias</div>
    <h3 class="title">Prazer, sou</h3>
    <app-post-entry [post]="post" *ngFor="let post of posts"></app-post-entry>
  </div>
  <div class="text-center mb-3">
    <button class="btn btn-secondary" (click)="getPosts()">Carregar mais histórias</button>
  </div>
</div>

<app-fab></app-fab>
